body{
    margin: 0;
    padding: 0;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(265, 43%, 25%);
    font-family: sans-serif;
}
.container{
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 22px;
    margin: 10px;
}

input{
    outline: solid 1px hsl(265, 43%, 25%);
    height: 110px;
    width: 90px;
    text-align: center;
    font-size: 40px;
    color: hsl(265, 43%, 25%);
    margin-top: 60px;
}

.btn{
    height: 60px;
    width: 170px;
    margin: top;
    border-radius: 5px;
    background-color: hsl(265, 43%, 25%);
    color: white;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 30px;
}

.btn:hover{
    background-color: hsl(265, 43%, 35%);
}

.hint{
    color: hsl(265, 43%, 25%);

}